keystore.properties

Scrcpy/*.iml
Scrcpy/.gradle
Scrcpy/.idea
Scrcpy/local.properties

Scrcpy/app/build
Scrcpy/app/.gradle
Scrcpy/app/debug
Scrcpy/app/release
Scrcpy/app/src/main/res/raw/easycontrolfork_server.jar

Scrcpy/server/build
Scrcpy/server/.gradle